<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'asset_management/styles.css' %}"/>
        <script src="https://kit.fontawesome.com/652834bf35.js" crossorigin="anonymous"></script>
    </head>
<body>
    <div class="navbar">
        <div class = 'left-navbar'>
            <a href="{% url 'home' %}" class="navbar-brand">IMSE Asset Mangement</a>
            <a href="/admin" class="navbar-item">Administrator Dashboard</a>
        </div>
        <div class = 'right-navbar'>
            <div class="dropdown">
                <i id = "user-icon" class="fa fa-solid fa-user"></i>
                <div class="dropdown-options">
                    <h3 class="dropdown-username">{{ user.first_name }}</h3>
                <a href="{% url 'password_change' %}">Change Password</a>
                <a href="{% url 'edit-profile' %}">Edit Profile</a>
                <form action="{% url 'logout' %}" method="post" class = 'logout-form'>
                    {% csrf_token %}
                    <button type="submit" class='logout-button'>Log Out</button>
                </form>
                </div>
            </div>
    </div>

    </div>
    <div class="body-content">
        <div class = "content-container">
            {% block content %}
            {% endblock %}
        </div>
    <hr/>
    <footer>
    <p class = 'footer'> IMSE 2113 Assignment #1 - Skyler Chiu</p>
    </footer>
    </div>
</body>
</html>
