<h1>IMSE Asset Management</h1>
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Log In</button>
</form>

<p> To access the administrator dashboard, please login <a href="/admin">here</a> </p>

<style>

  body{
    background-color: #d7f0cf
  }


  h1{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 4vh
  }

  h2 {
    text-align: center
  }

  form {
    width: 300px;
    margin: 0 auto;
  }
  
  form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 2vh;
    margin: 1vh 0;
  }
  
  form button {
    background-color: #6dbc2f;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  form button:hover {
    opacity: 0.8;
  }

  p{
    text-align: center;
  }
</style>